<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Photo Calendar</title>
    
    <meta name=”viewport” content=”width=device-width″>

    <link href="css/default.css" rel="stylesheet" />
</head>
<body>
    <div id="div1">
        <input id="pictureInput" type="file" accept="image/*" capture="camera">
    </div>
    <div id="div2">
        <p>Location: <input id="location" type="text" /></p>
        <p>Date: <input id="date" type="date" /></p>
        <p>Time: <input id="time" type="time" /></p> <br>
        <br>
        <button id="calendar-button">Upload to calendar</button>
    </div>
    <script language="JavaScript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <script type=text/javascript src="js/main.js"></script>
</body>
</html>
