body {
  	font-size: 		12px;
  	font-family: 	arial;
  	zoom:			300%;
 	background-color: #C28E0E;
}

input{
	width:			75%;
}

#div1{
    text-align:		center;
    height: 		10%;
    float: 			top;
    border-style: 	solid;
    border-width: 	1px;
    padding:		5px;
    background-color: #FFF;
}

#div2 {
	float:			bottom;
	height: 		90%;
	padding: 		5px;
	text-align: 	center;
	
	border-style: 	solid;
	border-width: 	1px;
	border-top:		none;

	overflow: 		auto;
	background-color: #FFF;
}

#time{
	width: 			36%;
}

#date{
	width:			36%;
}