body {
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
  
}

input{
	width:			50%;
}

#div1{
    text-align:		center;
    float: 			top;
    border-style: 	solid;
    border-width: 	1px;
    padding:		5px;
}

#div2 {
	float:			bottom;
	padding: 		5px;
	text-align: 	center;

	border-style: 	solid;
	border-width: 	1px;
	border-top:		none;
}