body {
  	font-size:		12px;
  	font-family:	arial;
  	zoom:			250%;
 	background-color: #C28E0E;
}

input{
	width:			75%;
}

div{
	text-align:		center;
	padding:		5px;

	border-style:	solid;
	border-width:	1px;
	border-radius:	2px;

	background-color: #FFF;
}

#div1{
    height: 		10%;
    float: 			top;
}

#div2 {
	float:			bottom;
	height:			90%;

	border-top:		none;
}

#time{
	width:			36%;
}

#date{
	width:			36%;
}